@import '../../styles.scss';

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;

  &__navbar {
    width: 100%;
    background-color: map-get($colors, 'primary');
  } 

  &__body {
    height: 100%;
    width: 68%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--breadcrumbs {
      margin-top: map-get($space, 'space-16' );
      margin-bottom: map-get($space, 'space-16' );
      align-self: flex-start
    }

    &--content {
      width: 100%;
      background-color: map-get($colors, 'white' );
      margin-bottom:  map-get($space, 'space-32' );
    }
  }
}

