@import '../../../styles.scss';

.breadcrumb {
    display: flex;
}

.breadcrumb li+li:before {
    padding: 8px;
    color: map-get($colors, 'grey' );
    content: ">";
}

li {
   list-style: none;
   font-size: 14px;
   color: map-get($colors, 'grey' );

   @media screen and (max-width: $mobile) {
    font-size: 12px;
   }
}