@import '../../../styles.scss';

.detail {
  display: flex;
  justify-content: space-between;

  &__figure {
    width: 680px;

    &--img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__data {
    padding: map-get($space, 'space-32' );
    width: 400px;

    &--condition {
      font-size: 14px;
      color: map-get($colors, 'grey' );
    }

    &--title {
      margin-top: map-get($space, 'space-16' );
      font-size: 24px;
      color: map-get($colors, 'black' );
    }
  }
}

.price {
  display: flex;
  align-items: center;
  margin: map-get($space, 'space-32' ) 0px;
  
  &__amount {
    font-size: 46px;
    color: map-get($colors, 'black' );
  }

  &__decimals {
    font-size: 24px;
    color: map-get($colors, 'black' );
    margin-top: 8px;
    font-weight: 200;
    align-self: flex-start;
  }
}

.buy-button {
  width: 100%;
  height: 48px;
  background-color: map-get($colors, 'secondary' );
  outline: none;
  border: none;
  color: map-get($colors, 'white' );
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.description {
  margin: 0px 0px map-get($space, 'space-32' ) map-get($space, 'space-32' );
  width: 680px;
  
  &__title {
    font-size: 28px;
  }

  &__paragraph{
    margin-top: map-get($space, 'space-32' );
    font-size: 16px;
    color: map-get($colors, 'grey' );
    word-break: break-word;
  }
}

@media screen and (max-width: $mobile) {
  .detail {
    flex-direction: column;

    &__figure {
      width: 90vw;
      height: auto;
  
      &--img {
        width: 100%;
        object-fit: contain;
      }
    }

    &__data {
      width: 80%;
      padding: 0;
      margin: auto;
  
      &--title {
        font-size: 16px;
        font-weight: 200;
      }
    }
  }

  .price {
    
    &__amount {
      font-size: 32px;
    }
  
    &__decimals {
      font-size: 18px;
      font-weight: 100;
      margin-top: 4px;
    }
  }

  .description {
    width: 80%;
    margin: map-get($space, 'space-32' ) auto;

    &__title {
      font-size: 18px;
    }
  
    &__paragraph{
      font-size: 14px;
    }
  }

  .buy-button {
   margin-bottom: map-get($space, 'space-32' );
    
  }
}
