@import '../../../styles.scss';

.empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  &__figure {
    width: 100px;
    height: 100px;

    &--img {
      width: 100%;
    }
  }
  
  &__title {
    font-size: 24px;
    font-weight: 200;

    @media screen and (max-width: $mobile) {
      font-size: 14px;
    }
  }
}