.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;

  &__form {
    background-color: white;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 1rem;

    &--input {
      height: 100%;
      width: 90%;
      border: none;
      font-family: inherit;
      font-size: 18px;
      padding: 6px;
    }

    &--input:focus {
      outline: none;
    }

    &--button {
      background-color: #EEEEEE;
      border: none;
    }

    &--button:hover {
      cursor: pointer;
    }
  }
}